@import "../../../styles/mixins";
@import "../../../styles/functions";
@import "../../../settings/StylesSettings";

.LayersContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 120px 0 120px;

  &:first-child{
    margin-top: 60px;
  }
  .LayerRepresentation {
    width: auto;
    height: 140px;
    min-height: 100px;
    margin-bottom: 70px;

    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 70px;
      width: 2px;
      position: relative;
      top: 110px;
      border-radius: 10px;
      background-color: $lightColor;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    &.input {
      @include box-shadow($inputLayerColor);
      &:after {
        background: $inputLayerColor;
      }

    }

    &.hidden {
      @include box-shadow($hiddenLayerColor);
      &:after {
        background: $hiddenLayerColor;
      }

    }
    &.output {
      @include box-shadow($outputLayerColor);
      &:after {
        background: $outputLayerColor;
      }
    }

    .Name{
      height: 0;
      font-size: 17pt;
      font-weight: 800;
      position: relative;
      top: 40px;
      left: 40px
    }
    .Type {
      left: 20px;
      top: 0;
      font-weight: 900;
      max-width: 20%;
      text-align: center;
      box-sizing: border-box;
      padding: 4px 8px 4px 8px;

      &.input {
        border-bottom: solid 1px $inputLayerColor;
        border-right: solid 1px $inputLayerColor;
        color: $inputLayerColor;
      }

      &.hidden {
        border-bottom: solid 1px $hiddenLayerColor;
        border-right: solid 1px $hiddenLayerColor;
        color: $hiddenLayerColor;
      }

      &.output {
        border-bottom: solid 1px $outputLayerColor;
        border-right: solid 1px $outputLayerColor;
        $color: $outputLayerColor;
      }
    }

    .ActivationGroup{
      position: relative;
      left: 220px;
      top: 50px;
      width: 250px;
      height: 0;

      span{
        height: 0;
        display: block;
        position: relative;
        bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .LinearChartContainer{
        margin: 0;
      }
    }

  }
}