@import "../../../styles/mixins";
@import "../../../settings/StylesSettings";

.GraphSideUtilContainer {
  @include col-flex-box;
  @include rotate(-90deg);
  background: $specialColorSecond;
  color: $lightColor;
  position: absolute;
  left: -20px;
  bottom: 89%;
  font-weight: bolder;
  padding: 4px 12px 4px 12px;
  cursor: pointer;

  &:hover {
    background-color: lighten($specialColorSecond, 10%);
  }
  div {
    span {
      transform: translateY(-2px);
      display: block
    }
  }

  //.ExportType{
  //  box-sizing: border-box;
  //  padding: 2px 8px 2px 8px;
  //  color: $lightColor;
  //  margin-left: 10px;
  //  font-weight: 900;
  //
  //  &.PNG{
  //    background-color: #0033cc;
  //  }
  //  &.JPEG{
  //    background-color: #2eb82e;
  //  }
  //
  //  &.JSON{
  //    background-color: #990000;
  //  }
}