@import "../../../../styles/mixins";
@import "../../../../settings/StylesSettings";

.PreviewGraphContainer{
  padding: 25px 40px 25px 40px;
  .PreviewGraph{
    height: 420px;
    width: 450px;
  }
}