@import "../../../styles/mixins";
@import "../../../settings/StylesSettings";

.DataConfiguratorContainer {
  @include absolute-center-element;
  @include col-flex-box;
  @include scroll-bar;
  background: transparent;
  transition: all 0.7s ease-in-out;
  width: 85vw;
  height: 90vh;
  z-index: 1;
  color: $lightColor;
  font-size: 8pt;
  overflow: auto;
  border: solid 1px $lightColor;

  &::-webkit-scrollbar {
    width: 0;
  }

  .DataEsc{
    position: fixed;
  }


  .DataRowHeader {
    @include row-flex-box;
  }
  .DataRowContent {
    @include col-flex-box;
    .ContentRow {
      @include row-flex-box;
    }
  }
}