@import "../../../../styles/mixins";
@import "../../../../settings/StylesSettings";


.Field{
  background: $darkColor;
  border: solid 1px $lightColor;
  box-sizing: border-box;
  padding: 18px 12px 18px 12px;
  width: 150px;
  text-align: center;
  //word-break: break-word;
  //margin-right: 10px;


  div{
    input[type=checkbox]{
      width: 25px;
      height: 25px;
    }
  }
}