@import "../../../../styles/mixins";
@import "../../../../settings/StylesSettings";

.Field {
  @include col-flex-box;
  background: $darkColor;
  border: solid 1px $lightColor;
  box-sizing: border-box;
  min-width: 120px;
  min-height: 70px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;

  //&:hover{
  //  @include scale(1.2);
  //}

  &.Header {
    background: darken($specialColorFirst, 12%);

    &:hover {
      background: darken($specialColorFirst, 5%);

    }
  }

  &.Content {
    background: $darkColor;

    &:hover {
      background: lighten($darkColor, 12%);
    }
  }
  div {
    input[type=checkbox] {
      width: 25px;
      height: 25px;
    }
  }
}