.SocialGroup{
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
  top: 60%;
  z-index: 1;

  .SocialElement{
    transition: all 0.2s ease-in-out;
    &:hover{
      transform: translateX(-12px);
    }
  }
}
