@import "../../settings/StylesSettings";
@import "../../styles/mixins";

.DesktopBackground{
  position: absolute;
  width: calc(2 * 100vw);
  height: 100vh;
  background: rgb(10,0,0);
  background: linear-gradient(128deg, rgba(10,0,0,0.9335084375547094) 26%, rgba(214,0,0,1) 60%);
  left:0;
  top:0;
  z-index: -1;
  .LeftSkew{
    @include skew(20deg, 0);
    @include box-shadow-right($lightColor);
    width: map_get($backgroundSize, leftSkewWidth);
    height: 100vh;
    background: rgb(23,23,23);
    background: linear-gradient(128deg, rgba(23,23,23,1) 100%, rgba(40,40,40,0.9363095580028886) 100%);
    position: relative;
    left: -75vw;
    transition: all 1.5s ease-in-out;
    //border-right: solid 1px $lightColor;

    &.shifted{
      @include translateWithSkew(50vw, 0, 20deg, 0);
    }
  }
}