@import "../../settings/StylesSettings";
@import "../../styles/mixins";

.DesktopBackground{
  position: absolute;
  width: calc(2 * 100vw);
  height: 100vh;
  background: rgb(13,219,40);
  background: linear-gradient(128deg, rgba(13,219,40,0.8690826672465861) 8%, rgba(20,249,238,0.8130602582830007) 100%);
  left:0;
  top:0;
  z-index: -1;
  .LeftSkew{
    @include skew(20deg, 0);
    width: map_get($backgroundSize, leftSkewWidth);
    height: 100vh;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    position: relative;
    left: -75vw;
    transition: all 1.5s ease-in-out;

    &.shifted{
      @include translateWithSkew(50vw, 0, 20deg, 0);
    }
  }
}