@import "../../../styles/mixins";

.StartWrapper{
  @include col-flex-box();
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  min-width: 500px;
  transition: all 1.5s ease-in-out;


  .TextButton, .LinkButton{
    width: 150px;
    position: absolute;
    top:20px;
    left: 320px;

    &.Submit{
      left: 280px;
      top: 50%;
      padding:0;
    }

    a{
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 12px 18px;
    }

  }
  .UserInput{
    position: relative;
    bottom: -140px;
    transition: 0.7s ease-in;
  }
}