@import "../../../styles/mixins";

.StartWrapper{
  @include col-flex-box();
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  min-width: 500px;


  .TextButton{
    width: 150px;
    position: absolute;
    top:20px;
    left: 320px;

    &.Submit{
      left: 280px;
      top: 50%;
    }

  }
  .UserInput{
    position: relative;
    bottom: 40px;
    transition: 0.7s ease-in;
  }
}