@import "../../../../../styles/mixins";
@import "../../../../../styles/functions";
@import "../../../../../settings/StylesSettings";

.LayersContainer {
  @include scroll-bar;
  width: 100%;
  box-sizing: border-box;
  padding: 60px 120px 0 120px;
  overflow-y: auto;
  overflow-x: hidden;

  .LayerRepresentation {
    width: auto;
    height: 140px;
    min-height: 100px;
    margin-bottom: 70px;
    margin-top: 20px;
    background: rgba(23, 23, 23, 0.9);

    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 70px;
      width: 2px;
      position: relative;
      top: 110px;
      border-radius: 10px;
      background-color: $lightColor;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    &.input {
      @include box-shadow($inputLayerColor);
      border: solid 1px $inputLayerColor;
      &:after {
        background: $inputLayerColor;
      }

    }

    &.hidden {
      @include box-shadow($hiddenLayerColor);

      border: solid 1px $hiddenLayerColor;
      &:after {
        background: $hiddenLayerColor;
      }

    }
    &.output {
      @include box-shadow($outputLayerColor);
      border: solid 1px $outputLayerColor;
      &:after {
        background: $outputLayerColor;
      }
    }

    .Name{
      height: 0;
      font-size: 12pt;
      font-weight: 600;
      position: relative;
      top: 12px;
      left: 10px
    }
    .ClassType{
      font-weight: 600;
      height: 0;
      position: relative;
      bottom: -35px;
      left: 10px;
    }
    .UseBias{
      font-weight: 600;
      height: 0;
      position: relative;
      bottom: -58px;
      left: 10px
    }

    .Type {
      left: 20px;
      top: 0;
      font-weight: 900;
      max-width: 22%;
      text-align: center;
      box-sizing: border-box;
      padding: 4px 8px 4px 8px;

      &.input {
        border-bottom: solid 2px $inputLayerColor;
        border-right: solid 2px $inputLayerColor;
        color: $inputLayerColor;
      }

      &.hidden {
        border-bottom: solid 2px $hiddenLayerColor;
        border-right: solid 2px $hiddenLayerColor;
        color: $hiddenLayerColor;
      }

      &.output {
        border-bottom: solid 2px $outputLayerColor;
        border-right: solid 2px $outputLayerColor;
        $color: $outputLayerColor;
      }
    }

    .ActivationGroup{
      position: relative;
      left: 243px;
      top: 0;
      width: 250px;
      height: 0;

      span{
        height: 0;
        display: block;
        position: relative;
        bottom: 0;
        right: 40px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .LinearChartContainer{
        margin: 0;
        width: 140px;
        position: relative;
        right: 50px;
        top: 16px;
      }
    }

  }
}