@-webkit-keyframes AnimationName {
  0%{background-position:87% 0}
  50%{background-position:14% 100%}
  100%{background-position:87% 0}
}
@keyframes AnimationName {
  0%{background-position:87% 0}
  50%{background-position:14% 100%}
  100%{background-position:87% 0}
}