@import "../settings/StylesSettings";
@import "mixins";

/*
  Re-usable component styles
 */
.TextButton, .LinkButton {
  border: solid 2px black;
  box-sizing: border-box;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  color: $lightColor;

  &:hover{
    background-color: $specialColorFirst
  }
  a, span {
    font-size: 14pt;
    font-weight: 800;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  a{
    color: $lightColor
  }
}

.UserInput, .UserSelect {
  color: $lightColor;
  input {
    border: 0;
    border-bottom: 3px solid $lightColor;
    padding: 1rem .75rem .3rem;
    font-size: 1.5rem;
    background: transparent;
    font-weight: 800;
    outline: none;
    color: $lightColor;

    select{
      font-weight: 800;
    }
    &:focus {
      &::placeholder {
        @include translateWithScale(-55px, -13px, 0.7);
      }
    }
    &::placeholder {
      transition: 0.4s ease;
      z-index: 100;
      color: $lightColor;
    }
  }
}

.Popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  &.Blur {
    @include blur(8px);
  }
}

.UserCheckbox{
  input[type="checkbox"] {
    box-shadow: 0 0 0 0.125em #000000 inset;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background: $specialColorFirst;
    vertical-align: middle;

    &.active{
      &:before{
        width: 40px;
        height: 50px;
      }
    }
  }
  label{
    margin-left: 35px;
    color: $lightColor;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.ExitBtn{
  top:0;
  right:0;
  padding: 12px;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  background: $specialColorFirst;
  border: none;
  text-align: center;
  opacity: 1;
  border-bottom-left-radius: 5px;
  position: absolute;
  z-index: 1;
  span{
    position: relative;
    bottom: 3px;
    right: 4px;
  }
  &:hover{
    transform: none;
    background: darken($specialColorFirst, 10%);
  }
}

.UploadContainer {
  position: absolute;
  border: solid 1px white;
  font-size: 14pt;
  font-weight: 900;
  transition: all 0.7s ease-in-out;
  right: 3.5%;
  top: 10px;
  min-width: 100px;
  padding: 12px 18px;
  text-align: center;
  background-color: $darkColor;

  &.Data{
    font-size: 8pt;
    right: 3.5%;
    top: 10%;
  }

  .Uploader {
    display: none;
  }

  label {
    box-sizing: padding-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 10pt;
  }
  &:hover {
    background-color: $specialColorFirst;
  }

}

