@import "../settings/StylesSettings";
@import "mixins";
.hidden{
  display: none;
}

/*
  Re-usable component styles
 */
.TextButton{
  border: solid 2px black;
  box-sizing: border-box;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  span{
    font-size: 14pt;
    font-weight: 800;
    display: block;
    width: 100%;
    text-align: center;
  }
  &:hover{
    background: $darkColor;
    color: $lightColor;
  }
}

.UserInput{
  input{
    border: 0;
    border-bottom: 3px solid #0c0c0c;
    padding: 1rem .75rem .3rem;
    font-size: 1.5rem;
    background: transparent;
    font-weight: 800;
    outline: none;
    &:focus{
      &::placeholder{
        @include transformWithScale(-55px, -13px, 0.7);
      }
  }
  &::placeholder{
    transition: 0.4s ease;
    z-index: 100;
  }
  }
}