@import "../settings/StylesSettings";

.hidden{
  display: none;
}

.TextButton{
  border: solid 2px black;
  box-sizing: border-box;
  padding: 12px 18px;
  cursor: pointer;
  transition: 0.7s ease-out;
  span{
    font-size: 14pt;
    font-weight: 800;
  }
  &:hover{
    background: $darkColor;
    color: $lightColor;
  }
}