@import "../settings/StylesSettings";
@import "mixins";

/*
  Re-usable component styles
 */
.TextButton, .LinkButton {
  border: solid 2px black;
  box-sizing: border-box;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  color: $lightColor;
  a, span {
    font-size: 14pt;
    font-weight: 800;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: all 0.7s ease-in-out;
  }
  a{
    color: $lightColor
  }
  &:hover {
    color: $specialColorSecond
  }
}

.UserInput, .UserSelect {
  color: $lightColor;
  input {
    border: 0;
    border-bottom: 3px solid $lightColor;
    padding: 1rem .75rem .3rem;
    font-size: 1.5rem;
    background: transparent;
    font-weight: 800;
    outline: none;

    select{
      font-weight: 800;
    }
    &:focus {
      &::placeholder {
        @include translateWithScale(-55px, -13px, 0.7);
      }
    }
    &::placeholder {
      transition: 0.4s ease;
      z-index: 100;
      color: $lightColor;
    }
  }
}

.Popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;

  &.Blur {
    @include blur(8px);
  }
}

.UserCheckbox{
  input[type="checkbox"] {
    box-shadow: 0 0 0 0.125em #000000 inset;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background: $specialColorFirst;
    vertical-align: middle;

    &.active{
      &:before{
        width: 40px;
        height: 50px;
      }
    }
  }
  label{
    margin-left: 35px;
    color: $lightColor;
    font-weight: 900;
    text-transform: uppercase;
  }
}

