/*
 Flex element
 */
@mixin flex(){
  display: flex;
}

@mixin col-flex-box(){
  @include flex();
  flex-direction: column;
}

@mixin row-flex-box(){
  @include flex();
  flex-direction: row;
}


/*
  Translate only
 */
@mixin translate($x, $y){
  transform: translate($x, $y);
}


@mixin scale($scale){
  transform: scale($scale);
}

/*
  Translating an element with scaling
 */

@mixin translateWithScale($x, $y, $scale){
  transform: translate($x, $y) scale($scale);
}

/*
  Skewing an element with given degree
 */
@mixin skew($degree1, $degree2){
  -ms-transform: skew($degree1, $degree2);
  -webkit-transform: skew($degree1, $degree2);
  transform: skew($degree1, $degree2);
}

/*
  Translating an element with skewing
 */
@mixin translateWithSkew($x, $y, $degree1, $degree2){
  transform:translate($x, $y) skew($degree1, $degree2);
}

@mixin rotate($deg){
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
}