/*
 Flex element
 */
@mixin flex(){
  display: flex;
}

@mixin col-flex-box(){
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
  Translate only
 */
@mixin translate($x, $y){
  transform: translate($x, $y);
}


@mixin scale($scale){
  transform: scale($scale);
}


@mixin translateWithScale($x, $y, $scale){
  transform: translate($x, $y) scale($scale);
}

/*
  Skewing an element with given degree
 */
@mixin skew($degree1, $degree2){
  -ms-transform: skew($degree1, $degree2);
  -webkit-transform: skew($degree1, $degree2);
  transform: skew($degree1, $degree2);
}


@mixin translateWithSkew($x, $y, $degree1, $degree2){
  transform:translate($x, $y) skew($degree1, $degree2);

}
