@import "../settings/StylesSettings";
/*
 Flex element
 */
@mixin flex(){
  display: flex;
}

// Flex Direction in column
@mixin col-flex-box(){
  @include flex();
  flex-direction: column;
}

// Flex Direction in row
@mixin row-flex-box(){
  @include flex();
  flex-direction: row;
}


/*
  Translating an element vertically and horizontally(only)
 */
@mixin translate($x, $y){
  transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
}


@mixin scale($scale){
  transform: scale($scale);
}

/*
  Translating an element with scaling
 */

@mixin translateWithScale($x, $y, $scale){
  transform: translate($x, $y) scale($scale);
}

/*
  Skewing an element with given degree
 */
@mixin skew($degree1, $degree2){
  -ms-transform: skew($degree1, $degree2);
  -webkit-transform: skew($degree1, $degree2);
  transform: skew($degree1, $degree2);
}

/*
  Translating an element with skewing
 */
@mixin translateWithSkew($x, $y, $degree1, $degree2){
  transform:translate($x, $y) skew($degree1, $degree2);
}

/*
  Rotating an element for a given angle(in deg, 0-360)
 */

@mixin rotate($deg){
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
}

/*
  Box shadow section
 */
@mixin box-shadow($color){
  -webkit-box-shadow: 0 0 5px 1px $color;
  -moz-box-shadow: 0 0 5px 1px $color;
  box-shadow: 0 0 5px 1px $color;
}

@mixin box-shadow-right($color){
  box-shadow: 5px 0 5px -5px $color;
  -webkit-box-shadow: 5px 0 5px -5px $color;
  -moz-box-shadow: 5px 0 5px -5px $color;
}

@mixin box-shadow-left($color){
  box-shadow: -5px 0px 5px 1px $color;
  -webkit-box-shadow: -5px 0px 5px 1px $color;
  -moz-box-shadow: -5px 0px 5px 1px $color;
}


@mixin touched-plane($color, $opacity){
  background: $color;
  opacity: $opacity;
}

@mixin blur($px) {
  filter: blur($px);
  -webkit-filter: blur($px);
}


@mixin absolute-center-element{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin apply-animation($animation-name, $period){
  -webkit-animation: $animation-name $period ease infinite;
  -moz-animation:$animation-name $period ease infinite;
  animation: $animation-name $period infinite;
}

@mixin scroll-bar(){
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $specialColorFirst;
    outline: 1px solid $lightColor;
  }
}