@import "../../../../styles/mixins";
@import "../../../../settings/StylesSettings";

.PreviewGraphContainer{
  width: 50%;
  padding: 25px 40px 25px 40px;
  .PreviewGraph{
    height: 100%;
    min-height: 400px;
    @include box-shadow($lightColor);
  }
}