@import "../../../../styles/mixins";
@import "../../../../settings/StylesSettings";

.PreviewGraphContainer{
  padding: 25px 40px 25px 40px;
  .PreviewGraph{
    height: 460px;
    width: 500px;
    @include box-shadow($specialColorFirst);
  }
}