@import "../../../styles/mixins";
@import "../../../settings/StylesSettings";

%Btn {
  color: $lightColor;
  max-width: 200px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $specialColorFirst;
  }
}

.EditorContainer {
  @include absolute-center-element;
  transition: all 0.7s ease-in-out;
  width: 80vw;
  height: 90vh;
  z-index: 1;

  %Scene{
    @include row-flex-box;
    @include box-shadow($lightColor);
    @include absolute-center-element;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 90vh;
    background: lighten($darkColor, 5%);
    opacity: 0.98;
  }

  .LayerScene, .ParametersScene {
    @extend %Scene;

    .Layer, .Parameters {
      @include row-flex-box;
      justify-content: center;
      flex-wrap: wrap;
      padding: 25px 10px 25px 10px;
      width: 50%;
      z-index: 1;
      margin-bottom: 50px;

      .FeatureWrapper {
        box-sizing: border-box;
        margin-top: 65px;
        margin-left: 25px;
        margin-right: 25px;

        .LayerNameInput,
        .LayerCountInput,
        .LayerClassTypeSelect,
        .LayerActivation,
        .LayerInitializer,
        .ParameterSelect{
          color: $lightColor;
          label {
            display: inline-block;
            box-sizing: border-box;
            padding: 12px 10px 12px 10px;
            width: 120px;
            font-weight: bolder;
            font-size: 8pt;
          }
          input[type=text], input[type=number] {
            color: $lightColor;
            font-size: 8pt;
            border: solid 2px $lightColor;
            margin-left: 15px;
            box-sizing: border-box;
            padding: 12px 10px 12px 10px;
            width: 95px;
            background: $darkColor;
          }
          select {
            padding: 12px 10px 12px 10px;
            margin-left: 15px;
            background: $darkColor;
            color: $lightColor;
            font-weight: 800;
            border: solid 2px $lightColor;
            width: 95px;
            font-size: 8pt;

            option {
              font-weight: 800;
              background: transparent;
              color: $lightColor;
              padding: 2px 5px 2px 5px;
              width: 75px;
            }
          }
          &.enlarged{
            select{
              width: 150px;
            }
          }
        }

      }
      .RemoveBtn {
        @extend %Btn;
        bottom: 2%;
        border: solid 2px $specialColorFirst;
        left: 1.5%;
        width: 100px;
      }

      .AddBtn {
        @extend %Btn;
        bottom: 2%;
        border: solid 2px $specialColorFirst;
        right: 10.5%;
        width: 100px;
      }
    }
  }

  .ParametersScene{
    @extend %Scene;
  }

  .SubmitBtn {
    @extend %Btn;
    border: solid 2px $specialColorFirst;
    bottom: 2%;
    right: 1%;
    width: 100px;
    z-index: 1;
  }
  .SceneSwitchBtn{
    @extend %Btn;
    position: absolute;
    max-width: 200px;
    left: 10px;
    top: 5px;
    z-index: 1;
    border: solid 2px $specialColorFirst;
    &:hover {
      background: $specialColorFirst;
    }

    span{
      font-size: 11pt;
    }
  }
}