@import "../../../styles/mixins";
@import "../../../settings/StylesSettings";

.CanvasNavigatorContainer{
  position: absolute;
  top: 15%;
  right: 0;
  .Navigator{
    display: inline-block;
    position: relative;
    span{
      border: solid $lightColor;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    .LEFT{
      @include rotate(135deg)
    }
    .UP{
      @include rotate(-135deg);
    }
    .RIGHT{
      @include rotate(-45deg);

    }
    .DOWN{
      @include rotate(45deg)
    }

    &.LEFT{
      left: 0;
      bottom: 0;
    }
    &.UP{
      left: 40px;
      bottom: 30px;
    }
    &.RIGHT{
      left: 80px;
      bottom: 0;
    }
    &.DOWN{
      left: 21px;
      bottom: -30px;
    }
  }
}