@import "../../styles/mixins";
@import "../../settings/StylesSettings";

.ModelToolBox {
  @include col-flex-box;
  min-width: 40%;
  justify-content: center;
  align-items: center;
  border-left: solid 1px $lightColor;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  transition: all 1.4s ease-in-out;

  //&:after{
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  height: 100%;
  //  width: 2px;
  //  background-color: $lightColor;
  //  z-index: -1;
  //}

  .AddNewLayerBtn {
    color: $lightColor;
    border: solid 1px $lightColor;
    transition: all 0.7s ease-in-out;
    background-color: $darkColor;
    position: absolute;
    right: 2%;
    top: 10px;
    &:hover {
      background: $specialColorFirst;
    }
  }
}