@import "../../styles/mixins";
@import "../../settings/StylesSettings";

%btn{
  color: $lightColor;
  border: solid 1px $lightColor;
  transition: all 0.7s ease-in-out;
  background-color: $darkColor;
  position: absolute;
}

.ModelToolBox {
  @include col-flex-box;
  min-width: 40%;
  align-items: center;
  border-left: solid 1px $lightColor;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  transition: all 1.4s ease-in-out;

  .NetworkSettingsBtn {
    color: $lightColor;
    border: solid 1px $lightColor;
    transition: all 0.7s ease-in-out;
    background-color: $darkColor;
    position: absolute;
    right: 24%;
    top: 10px;
    &:hover {
      background: $specialColorFirst;
    }
  }

  .AddNewLayerBtn {
    color: $lightColor;
    border: solid 1px $lightColor;
    transition: all 0.7s ease-in-out;
    background-color: $darkColor;
    position: absolute;
    left: 3.5%;
    top: 10px;
    span{
      font-size: 10pt;
    }
    &:hover {
      background: $specialColorFirst;
    }
  }

  .SendBtn {
    @extend %btn;
    right: 3.5%;
    bottom: 10px;
    span{
      font-size: 10pt;
    }
    &:hover {
      background: $specialColorFirst;
    }
  }
}