@import "../../styles/mixins";
@import "../../settings/StylesSettings";

.ModelToolBox{
  @include col-flex-box;
  min-width: 40%;
  justify-content: center;
  align-items: center;
  border-left: solid 1px $lightColor;

  .NewLayerContainer{
    width: auto;
    border: solid 1px $lightColor;
    max-width: 35%;
    .AddNewLayerBtn{
      color: $lightColor;
      border: solid 1px $lightColor;
      transition: all 0.7s ease-in-out;
      &:hover{
        background: $specialColorFirst;
      }

    }
  }
}
