@import "../../styles/mixins";

.CreatorContainer{
  @include row-flex-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .ExpandingCanvasContainer{
    @include col-flex-box;
    width: auto;
    height: 100%;
    canvas.ExpandingCanvas{
      background: white;
    }
  }

  .ToolBoxContainer{
    min-width: 30%;
  }
}