@import "../../styles/mixins";

.CreatorContainer{
  @include row-flex-box;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .ExpandingCanvasContainer{
    @include col-flex-box;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
    width: auto;
    height: 100%;
    canvas.ExpandingCanvas{
      background: white;
    }
  }

  .ToolBoxContainer{
    min-width: 30%;
  }
}