@import "../../styles/mixins";

.CreatorContainer{
  @include row-flex-box;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .ExpandingCanvasContainer{
    @include row-flex-box;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 60%;
    height: 100%;
    position: absolute;
    canvas.ExpandingCanvas{
      background: white;
    }
  }

  .ToolBoxContainer{
    min-width: 30%;
  }
}