/*
  The most important styles settings are placed in this file
 */

/*
  Background's variables
 */
$backgroundSize:(
  leftSkewWidth: 70%,
);

/*
  General colors
*/

$lightColor: #f1f1f1;
$darkColor: #111111;
$specialColorFirst: #e73827;
$specialColorSecond: rgba(214, 0, 0, 1);

/*
  Graph colors settings
 */

$inputLayerColor: #99ff99;
$hiddenLayerColor: #0066ff;
$outputLayerColor: #f1f1f1;