/*
  The most important styles settings are placed in this file
 */

/*
  Background's variables
 */
$backgroundSize:(
  leftSkewWidth: 70%,
);

/*
  General colors
*/

$lightColor: #FFFAFA;
$darkColor: #171717;
$specialColorSecond: #009efd;
$specialColorFirst: rgba(214, 0, 0, 1);

/*
  Graph colors settings
 */

$inputLayerColor: #99ff99;
$hiddenLayerColor: #0066ff;
$outputLayerColor: #f1f1f1;

/*
  Error, warning colors
 */

$errorColor: $lightColor;
$errorBgColor: #D8000C;

$warningColor: $lightColor;
$warningBgColor: #ffcc00;