/*
  The most important styles settings are placed in this file
 */

/*
  Background's variables
 */
$backgroundSize:(
  leftSkewWidth: 70%,
);

/*
  General colors
*/

$lightColor: #f1f1f1;
$darkColor: #111111;
$specialColorFirst: #e73827;
$specialColorSecond: rgba(13,219,40,0.8690826672465861);