@import "../../styles/mixins";
@import "../../settings/StylesSettings";

.NetworkGraphContainer {
  @include col-flex-box;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 10px 20px 10px;
  transition: all 1.7s ease-in-out;
  z-index: 1;
  opacity: 0.95;

  .NetworkGraph {
    width: 90%;
    height: 90%;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  .LabelInfoWrapper {
    &.ProjectName {
      position: absolute;
      left: 52px;
      top: 17px;
      color: $lightColor;
      font-weight: 900;
      text-shadow: 0 0 15px $specialColorFirst, 0 0 10px $specialColorFirst;
    }
  }
}