@import "components/DesktopMainView/DesktopMainView";
@import "components/DesktopBackground/DesktopBackground";

.DesktopApp{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}