/*
  Common stylesheets
 */
@import "settings/StylesSettings";
@import "styles/animations";
@import "styles/mixins";
@import "styles/common";
@import "styles/functions";


/*
  Components' stylesheets
*/
@import "App";
@import "components/DesktopMainView/DesktopMainView";
@import "components/DesktopBackground/DesktopBackground";
@import "components/DesktopMainView/StartInfoInput/StartInfoInput";
@import "components/CreatorView/CreatorView";
@import "components/NetworkGraph/NetworkGraph";
@import "components/NetworkGraph/GraphSideUtil/GraphSideUtil";
@import "components/ModelToolBox/ModelToolBox";
@import "components/ModelToolBox/Editor/Editor";
@import "components/ModelToolBox/Editor/PreviewGraph/PreviewGraph";
@import "components/ModelToolBox/Layer/Layer";
@import "components/ModelToolBox/Alerts/Alerts";
@import "components/NetworkGraph/Exports/Exports";

body {
  margin: 0;
  padding: 0;
  font-family: Saira Semi Condensed,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: $lightColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection{
  background: $specialColorFirst;
}
